.Cbtn {
    text-align: right;
}
.textFields {
    padding-block-start: 70px;
    text-align: center;

}
.adminCreate{
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
}

.adminOrg{
    display: grid;
    width: 900px;
    text-align: center;
}

.adminConvention{
    display: grid;
    width: 900px; 
    text-align: center;
}
.adminUsers{
    display: grid;
    width: 1000px; 
    text-align: center;
}

.cards{
    text-align: center;
    width: 900px;
    height: 200px;
    
}

.editCard{
    background-color: aquamarine;
}
